<div class="container">
  <h1>Confirm delete?</h1>
  <form method="post" action='/note/<%=@note.id%>/delete/confirm'>
    <input type="hidden" name="_method" value="delete">
    <input type='submit' value='Yes, delete.'>
  <a href='/note/<%=@note.id%>'>No.  Go back.</a>
</div>
