<div class="container">
  <h1>Create a Note</h1>
  <form method="post" action="/note/create">
    <input type="text" name="note[title]">
    <textarea name="note[content]"></textarea>
    <input type="submit" value="create note">
  </form>
</div>